<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
<h1>Post List</h1>
<a href="{% url 'blog:add_post' %}">
    <button>Add Post</button>
</a>
{% for p in page_obj.object_list %}
<a href="{% url 'blog:post_detail' p.id %}"><h3>{{ p.title }}</h3></a>
<p>{{ p.content }}</p>
<p>{{ p.created_at }}</p>
{% endfor %}

{# Навигация по страницам #}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">« первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}
        <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">последняя »</a>
        {% endif %}
    </span>
</div>
</body>
</html>